.overflow-hidden.px-3.py-10.flex.justify-center.min-h-screen
  .w-full.max-w-sm
    %h2.block.text-gray-700.text-xl.font-bold.mb-2= t(".title")
    #clearance.sign-in
      = render partial: "/sessions/form"

    %p.text-center.text-gray-500.text-xs.p-4
      Verleng Foundation © 2021
